<div class="mainbor">
    <div class="nobor">
        <div>
            <img src="../../../assets/emp1.jpg" alt="">
        </div>
        <div>
            <span>Employee</span><br>
            <span>Payroll</span>
        </div>
    </div>
    <div class="opecbor">
        <div class="empform">
            <h2>Employee Payroll Form</h2>
            <h3>Name<input type="text"></h3>
            <h3>Profile Image</h3>
            <div class="genderrad">
                <div>
                    <h3>Gender</h3>
                </div>
                <div>
                    <input type="radio" id="child" name="age" value="child">
                    <label for="child">Male</label>
                    <input type="radio" id="child" name="age" value="child">
                    <label for="child">Female</label>
                </div>
            </div>
            <div class="genderrad">
                <div>
                    <h3>Department</h3>
                </div>
                <div class="depcl">
                    <input type="checkbox" id="child" name="age" value="child">
                    <label for="child">HR</label>
                    <input type="checkbox" id="child" name="age" value="child">
                    <label for="child">Sales</label>
                    <input type="checkbox" id="child" name="age" value="child">
                    <label for="child">IT</label>
                </div>
            </div>
        </div>
    </div>
</div>
