<div class="mainbo">
    <div class="nobor">
        <div>
            <img src="../../../assets/emp1.jpg" alt="">
        </div>
        <div>
            <span>Employee</span><br>
            <span>Payroll</span>
        </div>
    </div>
    <div class="opecbor">
        <div class="empcl">
            <header>Employee Details</header>

        </div>
        <table>
            <th>Namw</th>
            <th>gender</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Start Date</th>
            <th>Action</th>
        </table>
        <div>
            <button routerLink="/adduser">+ Add User</button>
        </div>
    </div> 
</div>